.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.conteudo-esquerda {
    width: 50%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo-login {
    display: flex;
    justify-content: flex-start;
}

.logo-login img {
    height: 40px;
}

.informacoes-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 40px;
}

.informacoes h3 {
    margin-bottom: 20px;
}

.label-login {
    display: flex;
    flex-direction: column;
}

.input-senha input {
    margin-top: 15px;
}

.input-email, .input-senha {
    width: 100%;
    margin-bottom: 15px;
}

.input-email input, .input-senha input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    width: 345px;
    height: 56px;
}

.botao-login {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.botao-login button  {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #ffc727;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-login img {
    margin-left: 10px;
}

.forgot-password {
    align-self: flex-start;
}

.forgot-password a {
    text-decoration: none;
    color: #000;
}

.forgot-password a:hover {
    color: orange;
}

.criar-nova-conta {
    width: 100%;
}

.criar-nova-conta button {
    width: 70%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #ffc727;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.direitos {
    margin-top: auto;
    text-align: center;
    padding: 20px;
}

.conteudo-direita {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;

}

.imagem-login img {
    max-width: 80%;
    height: auto;
    margin-left: 160px;

}

@media (max-width: 920px) {
    .conteudo-direita {
        display: none;
    }

    .conteudo-esquerda {
        width: 100%;
        padding: 20px;
    }

    form{
        width: 100%;
    }

    .informacoes {
        padding-left: 20px;
        align-items: center;
    }

    .informacoes-login {
        padding-left: 0px;
    }

    .input-email input, .input-senha input {
        width: 90%;
        height: 100%;
    }

    .direitos {
        margin-top: 20px;
        text-align: center;
        padding: 0;
    }


}
