@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.pay-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 100%;
  background-color: #f9c402;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin: 0;
  width: 432px;
}

.pay-container {
  height: 100%;
  margin: 0;
}

.tipo-plano,
.logo-dora {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.plano {
  width: 200px;
  height: auto;
  background-color: #ffffff;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-doracorde {
  padding: 5%;
  margin-right: 10px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7e7c6;
}

.tipo-plano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10%;
}

.tipo-plano p {
  margin: 0;
  font-size: 14px;
}

.cupons {
  width: 100%;
  height: 5vh;
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-cupom {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  font-size: 16px;
}

.q-branco {
  padding: 6%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10%;
}

.ordem,
.total {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
}

.container-o {
  display: flex;
  justify-content: space-between;
}

.bt-finalizar {
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  font-family: urbanist;
  cursor: pointer;
  background-color: #704214;
  margin: 5%;
}

@media (max-width: 920px){
  .pay-box{
    display: none;
  }
}
