@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.sessaoSocias {
  width: 100%;
  height: 486px;
  background: #fcfbd0;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRedesSociais {
  width: 100%;
  max-width: 1232px;
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 9.147rem;
}

.redeSociais {
  width: 668px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.descricaoRede {
  width: 100%;
  height: 120px;
  font-family: Urbanist;
  text-align: center;
  color: var(--grey-700, #1f1f1e);
  font-family: Urbanist;
  font-size: 1.763rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 84px;
}

.amarelo {
  color: #ffc727;
  margin-left: 0.5rem;
  text-align: none;
}

.iconeRede {
  width: 29.129rem;
  height: 4.313rem;
  display: flex;
  flex-direction: row;
  gap: 1.929rem;
  justify-content: center;
  align-items: center;
}

.botaoRedes {
  width: 68.714px;
  height: 69px;
  border-radius: 100px;
  background: #704214;
  border-style: none;
  align-items: center;
}

.botaoRedes > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 920px){

  .sessaoSocias {
    width: 100%;
    height: 1006px;
    background: #fcfbd0;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .containerRedesSociais{
  width: 100%;
  flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
 }

 .redeSociais {
  width: 308px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 62px;
  justify-content: center;
}

.descricaoRede > h2{
  font-size: 2rem;
}

}
