@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.dev-container {
  width: 1176px;
  height: 1072px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 300px;
}
.titleDescricao1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.devList {
  display: flex;
  align-items: center;
}

.devName {
  color: var(--grey-700, #1f1f1e);
  text-align: center;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.devDesc {
  color: #704214;
  font-family: Urbanist;
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: 600;
}

.backgroundSvg {
  z-index: 1;
  width: 246px;
  height: 222px;
}

.imgdev {
  position: absolute;
  z-index: 2;
  margin-top: 160px;
  margin-bottom: 70px;
}

.imgdev-bootom {
  position: absolute;
  z-index: 2;
  margin-top: 160px;
  margin-bottom: 70px;
}
.top-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 2rem;
}

.bottom-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  gap: 2rem;
}

.titledev {
  color: #000;
  font-family: Urbanist;
  display: flex;
  margin-bottom: 90px;
}

.titledev > h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.redesdev {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

@media (max-width: 1020px){
  .dev-container {
    width: 300px;
    height: 3900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 300px;
  }

  .titleDescricao1 {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
  }

  .imgdev {
    position: absolute;
    z-index: 2;
    margin-top: 160px;
    margin-bottom: 70px;
  }

  .imgdev-bootom {
    position: absolute;
    z-index: 2;
    margin-top: 160px;
    margin-bottom: 70px;
  }
  .devDesc {
    color: #704214;
    font-family: Urbanist;
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: 600;
    width: 320px;
    text-align: center;
  }
}
