.conteudodireitatocarmusicastablatura{
    display: inline-block;
    position: absolute;
    
}


.bannermenumusicas{
    background-color: white;
    margin-left: 365px;
    margin-top: 25px;
    border-radius: 10px;

}

.bannermenumusicas iframe{
    width: 1400px;
    height: 350px;
    border-radius: 20px;
    
}

.imagemartistatocarmusicastablatura{
    margin-left: 365px;
    margin-top: 50px;
}

.imagemartistatocarmusicastablatura img{
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}

.textotocarmusicatablatura{
    margin-left: 620px;
    margin-top: 20px;
    position: absolute;
}

.textotocarmusicatablatura h1{
    font-size: 48px;
    line-height: 30px;
}

.textotocarmusicatablatura h4{
    font-size: 25px;
    color: #F9C402;
}

.botoestocarmusicatablatura{
    margin-left: 380px;
    margin-top: 250px;
    position: absolute;
}

.autorolagemmusicatablatura {
    width: 170px;
    height: 35px;
    border: 1px solid grey;
    background: none;
    border-radius: 10px;
}

.autorolagemmusicatablatura:hover{
    background: #F9C402;
}

.tablaturatocarmusicatablatura{
    max-width: 800px;
    margin-left: 630px;
    margin-top: 250px;
    line-height: 44px;
}
.tablaturatocarmusicatablatura h6{
    font-size: 20px;
}
.color{
    color: #F9C402;
}