.container{
    font-family: Urbanist;
    color: #525252;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    font-weight: 600;
    
}

.metronome{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 670px;
    justify-content: space-between;
}

.batida{
    width: 100%;
    font-size: 2.5em;
    display: flex;
    justify-content: center;

}

.batidas-display{
    width: 100%;
    text-align: center;
    color: #F9C402;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.batida-visual {
    display: flex;
    gap: 5px; /* Espaço entre as bolinhas */
}

.bola-batida {
    width: 50px; /* Largura da bolinha */
    height: 50px; /* Altura da bolinha */
    background-color: grey; /* Cor padrão da bolinha */
    border-radius: 50%; /* Tornar a bolinha redonda */

}

.bola-batida.active {
    background-color: #F9C402; /* Cor da bolinha ativa */
}



.bpm-display{
    width: 100%;
    text-align: center;
    color: #704214;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.bpm-display .tempo{
    font-size: 2.5em;
}


.tempo{
    margin-left: 50px;
}
.tempo-text{
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
 
}

.tempo-settings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.tempo-settings .adjust-tempo-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.tempo-settings .adjust-tempo-btn:hover{
    background: #F9C402;
    color: #704214;
}


.start-stop{
    width: 80px;
    height: 80px;
    font-size: 0.7em;
    background: #F9C402;
    border-radius: 50%;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 1rem;
}

.start-stop:hover{
    background: #704214;
    color: #F9C402;
}

.informative-text{
    margin-top: 1rem;
}

.measures{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.measures .stepper{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 2em;
}

.measures .stepper:hover{
    background: #F9C402;
    color: #704214;
}


.batidas-por-minuto{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.5em;
}

.bpm-into{
    width: 100%;
    display: flex;
    justify-content: center;
}



.btn-info{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    background: #F9C402;
    color: #704214;
   
}

.ritmo-feedback{
    height: 100px;
}
.ritmo-feedback{
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 2em;
    align-items: center;
}

.ritmo-feedback-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

.feedback-acerto{
    text-align: center;
    display: flex;
    justify-content: center;
}

.ritmo-button{
    height: 200px;
    font-size: 2.5em;
    color: #000;
    font-family: Urbanist;
    font-weight: 500;
}

.feedback-acerto {
    background-color: #5cb85c; /* Verde */
    color: #000;
}

.feedback-erro {
    background-color: #d9534f; /* Vermelho */
    color: white;
}

.btn-tente-novamente{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../../assets/img/retorna.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.btn-avancar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('../../assets//img/seta-para-a-direita.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.completion-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 150px;
    gap: 5rem;
    justify-content: center;
}