.logomarca {
  width: 706.578px;
  height: 184px;
  margin: auto;
}

.slogan {
  width: 100%;
  text-align: right;
  color: #704214;
  font-size: 30px;
}

.slogan > h5 {
  text-align: right;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 920px){
  .logomarca{
    width: 300px;

  }
  .logo-sobre{
    width: 300px;
  }

  .slogan > h5 {
    text-align: center;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
